
<ion-content [fullscreen]="true">

<div class="hero">
  
  <h1>lean coding with fun</h1>
  <img src="../../assets/imgs/card-hero.jpg" alt="">
</div>
  <div id="container">
   
    <ion-grid>
      <ion-row>
       
        <ion-col id="card">    
          <img src="/assets/imgs/3.jpg" alt="documentation image"/>
          <h2>documentaion</h2>
         
      </ion-col>
      </ion-row>
      <ion-row>
       
        <ion-col id="card">    
          <img src="/assets/imgs/1.jpg" alt="documentation image"/>
          <h2>quize</h2>
          
      </ion-col> <ion-col id="card">    
        <img src="/assets/imgs/2.jpg" alt="documentation image"/>
        <h2>write code</h2>
        
    </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
 <ion-button>hello</ion-button>
  </div>
</ion-content>
